<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" >
</head>
<body>
<div class="container-fluid">
  <h1>Users</h1>
  <a class="btn btn-outline-success align-content-end" type="button" th:href="@{/user/new}">Add user +</a>
  <div th:if="${message}" class="alert alert-success text-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>[[${message}]]
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">email</th>
      <th scope="col">Username</th>
      <th scope="col">Active Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user:${listUsers}">
    <tr>
      <th scope="row">[[${user.id}]]</th>
      <td>[[${user.email}]]</td>
      <td>[[${user.username}]]</td>
      <td>[[${user.enabled}]]</td>
      <td>
        <a class="btn btn-sm btn-outline-secondary" th:href="@{'/user/edit/'+${user.id}}">edit</a>
        <a class="btn btn-sm btn-outline-danger" th:href="@{'/user/delete/'+${user.id}}">delete</a>
      </td>
    </tr>
    </th:block>
    </tbody>
  </table>
</div>
</body>
</html>